{% extends 'profile.html' %}

{% block title %}Complete User Profile{% endblock %}

{% block content %}
<div class="profile-info col-md-9">
      <div class="panel">
 <form action="/Find_Medic/Uploaduserdetails" method="POST">
 
 {% csrf_token %}
  {% comment %} {{ profileform.as_p }} {% endcomment %}
    <div class="panel-body bio-graph-info">
              <h2>Welcome User {{user.first_name}}    !</h2><hr>
              <h4>Please Update your Bio Graph</h4><hr><br>
              <div class="row">
                  <div class="bio-row">
                      <p><span>Full Name </span>: {{user.first_name}}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>User Name </span>: {{user.username}}</p><br>
                  </div>
                  <div class="bio-row">
                      <p><span>Email</span>: {{user.email}}</p><br>
                      <hr>
                  </div>
                  <div class="bio-row">
                      <p><span>Status</span>: incomplete</p><br>
                  <hr>
                  </div>
                  <div class="bio-row">
                      <p><span>Gender </span><input name="gender" value="male" type="radio" required> Male <input name="gender" value="female" type="radio" required> Female 
                      <input name="gender" value="other" type="radio" required> Other </p>
                  </div>
                  
                  <div class="bio-row">
                      <p><span>Date of Birth</span><input name="dob" type="date" required></p>
                  </div>
                  <div class="bio-row">
                      <p><span>age</span><input name="age" type="number" required></p>
                  </div><br>
                  <div class="bio-row">
                      <p><span>Blood group </span><input name="bgroup" type="text" required></p><br>
                  </div>
                  <div class="bio-row">
                      <p><span>Contact </span><input name="contno" type="number" required></p>
                  </div>
                  <div class="bio-row">
                      <p><span>Address </span><input name="address" type="text" required></p><br>
                  </div>
                  <div class="bio-row">
                      <p><span>City </span><input name="city" type="text" required></p>
                  </div>
                  <div class="bio-row">
                      <p><span>State </span><input name="state" type="text" required></p><br>
                  </div>
                  <div>
                        <input type="submit" style="background-color: #4CAF50;
                        border: none;
                        color: white;
                        padding: 10px 16px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 40px 2px;
                        margin-left: 38pc;
                        cursor: pointer;" value="Save changes">
                  </div>
              </div>
          </div>
      </div>
 </form>

{% endblock  %}



